<div class="corpo-inicio">
  <div class="corpo-inicio-item">
    <img src="../../assets/mediunsFrenteAltar2.jpg" class="corpo-inicio-item-imagem" alt="logo-terreiro">
  </div>
  <div class="corpo-inicio-item-conteudo">
    <h2>Tenda Espírita de Umbanda São Benedito e Ogum Sete Montanhas</h2>
    <p>
    Aqui temos informações sobre nossa doutrina, nossos trabalhos, nossas campanhas e ações sociais.
    Na aba O TERREIRO temos um mapa com a nossa localização, bem como o estatuto que rege nossa casa, as entidades que a comandam e nossa hierarquia.
    Na aba GIRAS temos nosso calendário, onde você pode acompanhar a programação de nossas linhas de trabalho.
    Navegue pelas diversas abas de nosso site e conheça mais sobre nosso Terreiro, fique à vontade para nos contatar através da aba CONTATO enviando seu e-mail, que responderemos o mais rápido possível.
    Aqui temos informações sobre nossa doutrina, nossos trabalhos, nossas campanhas e ações sociais.
    Na aba O TERREIRO temos um mapa com a nossa localização, bem como o estatuto que rege nossa casa, as entidades que a comandam e nossa hierarquia.
    Na aba GIRAS temos nosso calendário, onde você pode acompanhar a programação de nossas linhas de trabalho.
    Navegue pelas diversas abas de nosso site e conheça mais sobre nosso Terreiro, fique à vontade para nos contatar através da aba CONTATO enviando seu e-mail, que responderemos o mais rápido possível.
    Axé.
  </p>
  </div>
</div>
