<div class="setembro">

  <div>
    <img src="../../assets/calendarioSetembro.png" alt="calendario de setembro" class="imagem-setembro">
  </div>

  <div class="conteudo-setembro">
    <div class="escala">
      <mat-list>
        <mat-list-item>
          <span>Aos Sábados nós temos uma escala para os trabalhos mediúnicos.</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Primeiro Sábado do mês:</span>
          <span matListItemLine>Pretos velhos e linha de Ogum</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Segundo Sábado do mês:</span>
          <span>Caboclos e Boiadeiros</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Terceiro Sábado do mês:</span>
          <span>Baianos</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Quarto Sábado do mês:</span>
          <span>Caso o mês possuia 5 semanas, o quarto sábado é definido alguns dias antes da gira</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Último Sábado do mês:</span>
          <span>Exus e Pombogiras</span>
        </mat-list-item>
      </mat-list>

    </div>
    <div class="horario">
      <h4>Horários:</h4>
      <p>Quinta-feira, ínicio a partir das 19:00h</p>
      <p>Sábado, ínicio a partir das 20:00h</p>
    </div>
  </div>



