<h2>Nosso eterno Pai de Santo.</h2>
<div class="homenagem">
  <mat-card id="homenagem" class="card">
    <mat-card-header>
      <mat-card-title>Senhor Deusdedit</mat-card-title>
      <mat-card-subtitle>Pai de Santo</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <img mat-card-image id="img-homenagem" class="mat-card-image" src="../../assets/deusdeti.jpg" alt="avatar usuário">
      <p>
        Pai Deusdedit era um maestro de nosso terreiro, nos dava seus sinais comandando os toques dos atabaques, fazia questão de nos direcionar, tudo sempre com muita harmonia. Para ele cantar e tocar em sintonia era requisito indispensável.<br>
        Era exigente, mas muito generoso também... Ele com seus mensageiros levava uma gira de 6, 7, 8 horas com sua voz de trovão ecoando no terreiro...<br>
        No dia seguinte sua voz estava intacta! Como era lindo ouvir o senhor cantar meu pai!
      </p>
    </mat-card-content>
  </mat-card>
</div>
<mat-divider class="divider"></mat-divider>
<div class="card-dirigentes">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Dona Conceição</mat-card-title>
      <mat-card-subtitle>Mãe de Santo</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <img id="img-madrinha" mat-card-image class="mat-card-image" src="../../assets/madrinha2.jpg" alt="avatar usuário">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Rose Borges</mat-card-title>
      <mat-card-subtitle>Mãe Pequena</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <img mat-card-image class="mat-card-image" src="../../assets/rose.jpg" alt="avatar usuário">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Seu José</mat-card-title>
      <mat-card-subtitle>Cambone</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <img mat-card-image class="mat-card-image" src="../../assets/seu ze.jpg" alt="avatar usuário">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
</div>

